#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-color: #faeab1;
}

h1 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

p {
  color: white;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.logindivs{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.inputfield{
  background-color: powderblue;
  border-radius: 5px;
  margin: 10px;
}

.loginbgdiv{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #34656D;
  border-radius: 10px;
  width: 125%;
  height: 280px;
}

.button{
    background-color: #334443;
}

